alembic==1.13.2
Flask==3.0.3
Flask_Cors==4.0.1
Flask_Migrate==4.0.7
flask_sqlalchemy==3.1.1
Requests==2.32.3
scipy==1.14.1
selenium==4.24.0
SQLAlchemy==2.0.32
torch==2.3.1
transformers==4.44.2
webdriver_manager==4.0.2
gunicorn==23.0.0